@use '../../Fonts' as *;

.add-student-page {
  font-family: $font-inriasans;

  &__content {
    padding-top: 1em;

    grid-row: 2 / 3;

    display: flex;
    gap: 2em;
  }

  .page-title {
    font-size: 24px;
    font-weight: bold;
    margin: 1em 0;
    margin-bottom: 16px;
  }

  .class-info-card {

    padding: 20px;
    border-radius: 14px;
    margin-bottom: 20px;

    h3 {
      font-size: 18px;
      font-weight: 600;
    }

    .tags {
      margin-top: 10px;
      display: flex;
      gap: 10px;

      .tag {
        // background: #f2f0e6;
        padding: 4px 10px;
        border-radius: 6px;
        font-size: 13px;
      }
    }
  }

  .tabs {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 8px;

    div {
      padding: 10px 16px;
      border-radius: 6px 6px 0 0;
      background-color: #fff;
      cursor: pointer;

      &.active {
        background-color: #fcefc7;
      }
    }
  }

  .form-section {
    margin-bottom: 30px;

    h4 {
      font-weight: 600;
      margin-bottom: 12px;
    }

    label {
      display: block;
      margin-bottom: 8px;
      font-weight: 500;
    }

    .input-group {
      display: flex;
      gap: 10px;

      input {
        flex: 1;
        padding: 10px 14px;
        border: 1px solid #ccc;
        border-radius: 6px;
        background: #fff8e9;
      }

      button {
        background-color: #20160f;
        color: white;
        border: none;
        padding: 10px 24px;
        border-radius: 6px;
        cursor: pointer;
      }
    }
  }

  .student-list {
    h4 {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .student-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 0;
      border-bottom: 0.5px solid black;

      button {
        background-color: #f5efe4;
        border: none;
        padding: 6px 14px;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
          background-color: #e4dbce;
        }
      }
    }
  }

  .see-more {
    text-align: center;
    margin-top: 20px;

    button {
      background-color: #f3eee1;
      border-radius: 20px;
      padding: 8px 16px;
      font-size: 14px;
      border: none;
      cursor: pointer;
    }
  }
}