@use '../../Fonts' as *;

.approve-join-classroom-request {

  &__page {
    font-family: $font-inriasans;
  }

  &__class-card {
    border-radius: 15px;

    .tabs {
      display: flex;
      gap: 30px;
      margin-top: 20px;
      font-weight: 500;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;

      div {
        cursor: pointer;
        padding-bottom: 4px;

        &.active {
          border-bottom: 3px solid #fbeecf;
        }
      }
    }

    .actions {
      display: flex;
      gap: 10px;
      margin-top: 20px;
    }

    .student-list {
      margin-top: 20px;
      border-top: 1px solid #ddd;

      .student-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0;
        border-bottom: 1px solid #eee;

        .buttons {
          display: flex;
          gap: 8px;
        }
      }
    }

    .see-more {
      text-align: center;
      margin-top: 20px;
    }
  }
}

.search-block--btn {
  display: flex;
  gap: 2em;
}


.btn {
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;

  &.dark {
    background-color: #1a1a1a;
    color: white;
  }

  &.green {
    background-color: #479b60;
    color: white;
  }

  &.light {
    background-color: #f7f3eb;
    color: #000;
  }

  &.approve {
    background-color: #d0f5d0;
    color: #206f20;
  }

  &.decline {
    background-color: #fcd2d2;
    color: #b50000;
  }
}