@use '../../Fonts' as *;

.assignment-detail-page {
  display: flex;
  background: #FFFCF7;

  .content {
    width: 100%;

    .assignment-detail__container {
      background: #FFFCF7;
      // padding: 2rem;
      border-radius: 8px;

      h1 {
        font-family: $font-lalezar;
        font-size: 1.8rem;
        margin: 0;
        margin-bottom: 1.5rem;
      }

      .assignment-box {
        background-color: #FFFAEF;
        border-radius: 10px;
        padding: 1rem 1.5rem;
        margin-bottom: 2rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

        .assignment-header {


          font-family: $font-inriasans;
          display: flex;
          justify-content: space-between;
          align-items: center;

          h2 {
            font-size: 1.3rem;
          }

          .remove-btn {
            background: #ccc;
            padding: 0.4rem 0.8rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
        }

        .assignment-meta {
          font-family: $font-inter;
          margin-top: 1rem;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;

          p {
            margin: 0.3rem 0;
          }
        }
      }

      .word-list {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        gap: 1rem;

      }
      
      .word-card {
        background-color: #FFF7DD;
        border-radius: 8px;
        padding: 1rem;

        font-family: $font-inriasans;

        strong {
          display: block;
          font-size: 1.1rem;
        }
      }
      
      .see-more {
        text-align: center;
        margin-top: 1.5rem;

        button {
          background: #f0f0f0;
          border: none;
          padding: 0.6rem 1.2rem;
          border-radius: 6px;
          cursor: pointer;
        }
      }
    }
  }
}