.pending-request__filter-dropdown {
  display: flex;
  align-items: center;
  gap: 8px;

  select {
    background: none;
    border: none;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
  }

  span {
    color: #aaa;
    font-size: 14px;
  }
}
