.pending-request__filter-dropdown {
  display: flex;
  align-items: center;
  gap: 8px;

  select {
    font-family: 'Inria-sans', sans-serif;
    background: none;
    border: none;
    justify-self: flex-end;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
  }

  span {
    color: #aaa;
    font-size: 14px;
  }
}
