.learners-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: #fffcf7;

  &__body {
    min-height: 100%;
    width: 100vw;
    margin: 2em 0;

    display: flex;
    gap: 5em;
  }

  &__content {
    background: #fffcf7;
    min-width: 90vw;
    // margin: 0 auto;
    // gap: 2em;
  }
}
