@use "../../Fonts" as *;

.student-list-page {
    // min-height: 100vh;
    font-family: $font-inriasans;
}

.student-actions {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    margin: 20px 0;

    // .search-input {
    //     position: relative;
    //     display: grid;
    //     grid-template-columns: 50% 50%;
    //     width: 100%;
    //     .dropdown-filter {
    //         justify-self: end;
    //         display: flex;
    //         align-items: center;
    //         gap: 8px;

    //         select {
    //             background: none;
    //             border: none;
    //             font-weight: 500;
    //             font-size: 15px;
    //             cursor: pointer;
    //         }

    //         span {
    //             color: #aaa;
    //             font-size: 14px;
    //         }
    //     }
    // }
}


.student-list {
    margin-top: 10px;

    .student-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        border-bottom: 1px solid #ddd;

        .btn.light {
            background-color: #f3eee4;
            border: none;
            border-radius: 6px;
            padding: 6px 14px;
            font-size: 14px;
            cursor: pointer;

            &:hover {
                background-color: #e5dbce;
            }
        }
    }
}

.see-more {
    margin-top: 20px;
    text-align: center;

    .see-more-btn {
        background-color: #f5f0e3;
        border: none;
        border-radius: 20px;
        padding: 8px 16px;
        font-size: 14px;
        cursor: pointer;
    }
}