.dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFFCF7;

  &__content {
    display: flex;
    font-family: 'Inria Sans', sans-serif;
    flex: 1;
  }

  &__main {
    flex: 1;
    padding: 2rem;
  }

  &__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }

  &__create-button {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    background-color: #2a1e17;
    color: #fff3df;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 18px;
    border: none;
    cursor: pointer;

    img {
      width: 1rem;
      height: 1rem;
    }
  }

  &__filter-bar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__list-count {
    font-size: 1.1rem;
    color: #adadad;
    font-weight: bold;
  }

  &__filter-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    color: #2a1e17;
    gap: 0.5rem;
    cursor: pointer;

    img {
      width: 1rem;
      height: 1rem;
    }
  }

  &__list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 3rem;
    justify-content: center;
  }

  &__list-card {
    aspect-ratio: 1.1 / 1;
    background-color: #F9F3E4;
    border-radius: 20px;
    padding: 1.5rem;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  &__list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lalezar', sans-serif;

    h3 {
      font-size: 1.5rem; 
      font-family: inherit;
      font-weight: normal;
      margin: 0; // tránh bị browser mặc định đẩy xuống
    }

    .edit-icon {
      width: 0.8rem;
      height: 0.8rem;
      cursor: pointer;
    }
  }

  &__list-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2a1e17;
  }

  &__list-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 0.75rem 0;
    font-size: 0.9rem;
    color: #444;
    margin-bottom: auto;
  }

  &__list-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dashboard__user {
      display: flex;
      align-items: center;
      min-width: 0;

      .avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: #ddd;
        margin-right: 1rem;
      }

      .username {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        font-size: 1rem;
        font-weight: 600;
        margin: 0.2rem;
        max-width: 6rem;
      }

      .role {
        font-size: 0.8rem;
        font-weight: bold;

        &.teacher {
          display: inline-flex;
          justify-content: center;
          padding: 0.2rem 0.5rem;

          color: #2932B1;
          background-color: #D0E5FF;
          border-radius: 999px;
        }
      }
    }

    .dashboard__overview-btn {
      background-color: #2a1e17;
      color: white;
      border: none;
      font-weight: bold;
      padding: 0.7rem 1rem;
      border-radius: 999px;
      font-size: 0.85rem;
      cursor: pointer;
    }
  }

  &__see-more {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    text-align: center;

    button {
      background-color: #fbf3e6;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 999px;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img {
        width: 1rem;
        height: 1rem;
      }
    }
  }

    &__edit-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}
