.view-list {
    display: flex;
    flex-direction: column;
    font-family: 'Inria Sans', sans-serif;
    background-color: #FFFCF7;

    &__main {
        flex: 1;
        padding: 2rem;
        max-width: 100%;
        margin-left: 0.5rem;
    }

    &__content {
        display: flex;
        flex-direction: row;
        flex:1;
    }

    &__title-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0rem;
    }

    &__title {
        font-family: 'Lalezar', sans-serif;
        color: #352D24;
        font-size: 3rem;
        font-weight: normal;
    }

    &__title-actions {
        display: flex;
        gap: 0.5rem;
        position: relative; // đánh dấu định vị 

        .icon-button {
            background: none;
            border: none;
            margin: 0 0.5rem;
            padding: 0.25rem;
            cursor: pointer;

            img {
            width: 1.5rem;
            height: 1.5rem;
            }

            &:hover {
            opacity: 0.8;
            }
        }
    }

    &__options-wrapper {
        position: relative; // đánh dấu định vị để popup hiện đúng vị trí
        z-index: 10; // đảm bảo popup hiện trên các phần tử khác
    }   

    &__more-popup {
        position: absolute;
        top: 120%;
        right: 0;
        background: #fff4f4;
        border-radius: 12px;
        padding: 0.5rem 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 100;
        min-width: 150px;

        .more-option {
            padding: 0.75rem 1rem;
            font-size: 1rem;
            cursor: pointer;
            color: #2a1e17;

            &.delete {
            color: #a30000;
            font-weight: bold;

            &:hover {
                background: #ffe5e5;
            }
            }
        }
    }

    &__share-popup {
        position: absolute;
        top: 120%;
        right: 0;
        background: #f2f2f2;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 100;

        .share-option {
            padding: 0.75rem 1rem;
            font-size: 1rem;
            cursor: pointer;
            color: #2a1e17;
            font-weight: 500;

            &:hover {
            background: #e2e2e2;
            }
        }
    }

    &__review-button {
        background-color: #2a1e17;
        color: #fff3df;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 2rem;
        cursor: pointer;
        transition: background 0.2s;

        &:hover {
            background-color: #1e150f;
        }
    }

    &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 3rem;
    font-weight: bold;
    }

    &__tag {
        background-color: #FFEAB6;
        color: #2a1e17;
        border: 1px solid #d5962c;
        border-radius: 999px;
        padding: 0.25rem;
        font-size: 0.9rem;
        font-weight: 500;
    }

    &__creator,
    &__date {
        font-size: 1rem;
        font-weight: bold;
        color: #8C8C8C;
        margin-bottom: 0.8rem;
    }

    &__privacy-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }

    &__privacy {
        margin: 0rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        &-label {
            font-weight: bold;
            font-size: 1rem;
            color: #2a1e17;
        }

        &-badge {
            background-color: #fef1d6;
            padding: 0.4rem 1rem;
            border-radius: 20px;
            font-weight: bold;
            color: #2a1e17;
            font-size: 1rem;
        }
    }

    &__line {
    height: 1px;
    width: 100%;
    background-color: #2a1e17;
    margin: 1rem 0;
    }

    &__description,
    &__words {
        h2 {
            font-family: 'Lalezar', sans-serif;
            font-size: 1.5rem;
            font-weight: normal;
            color: #2a1e17;
            margin-bottom: 0;
        }
        margin-bottom: 3rem;
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0 1.5rem;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__search {
        display: flex;
        align-items: center;
        background-color: #efefef;
        border-radius: 9999px;
        padding: 0.5rem 1rem;
        width: 25%;

        &-icon {
            width: 1rem;
            height: 1rem;
            margin-right: 1rem;
            opacity: 0.5;
        }

        &-input {
            width: 100%;
            border: none;
            background: transparent;
            outline: none;
            font-size: 1rem;
            font-family: 'Inria Sans', sans-serif;
            color: #555;
        }

        &-input::placeholder {
            color: #aaa;
        }
    }

    &__sort {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 1rem;
        color: #2a1e17;
        gap: 0.4rem;

        img {
            width: 16px;
            height: 16px;
        }
    }


    &__word-box--divider {
        border: none;
        border-top: 0.1rem solid white;
        margin: 0.5rem 0 1rem;
    }
    
    &__word-list {
        font-family: 'Inria Sans', sans-serif;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 1.5rem;
    }
    
    &__word-box {
        background-color: #fff4e5;
        border-radius: 12px;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    
        &--index {
        font-weight: bold;
        font-size: 1.25rem;
        margin-bottom: 0.25rem;
        }
    
        &--row {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
    
        input[type="text"] {
            flex: 1;
            padding: 0.75rem;
            border-radius: 8px;
            border: none;
            background-color: #f9ddb3;
            font-size: 1rem;
        }
        

        .input-note {
            font-size: 1rem;
            font-weight: bold;
            color: #6E5417;
            margin: 1rem 0 1rem 0.1rem;
        }
        }

        &--field {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }

    &__word-box--stat {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 0.95rem;

        .stat-label {
            display: inline-block;
            background: #f5ebd8;
            padding: 0.25rem 0.75rem;
            border-radius: 10px;
            font-weight: bold;
            color: #6b4e1d;
            width: fit-content;
        }

        .stat-detail {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            color: #2a1e17;
            margin-top: 0.5rem;
            margin-left: 0.2rem;

            .column {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                margin-right: 30%;
            }

            div {
            font-size: 0.95rem;

            strong {
                font-weight: 600;
            }
            }
        }
    }
}


