@use '../Fonts' as *;

.class-header {
  padding: 20px;
  border-radius: 20px;
  background-color: #FCF9F1;
}

.dropdown-container {
  position: relative;
  display: flex;
  justify-self: end;
}

.dropdown-toggle {
  border: none;
  background: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%; // hoặc top: 30px nếu bạn muốn cách xa button
  right: 0;
  background-color: #F5F5F5;
  min-width: 120px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
  border-radius: 4px;
  padding: 8px 0;
}

.dropdown-item {
  padding: 8px 16px;
  text-align: left;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #f2f2f2;
  }
}


.class-header h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.class-tags {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  font-family: $font-inriasans;


  .tag {
    display: flex;
    align-items: center;
    gap: 10px;

    background: #F8EED3;
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 13px;
  }
}