@use '../Fonts' as *;

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown {
    &__container {
        position: relative;
        display: inline-block;
        font-family: Arial, sans-serif;
    }

    &__trigger {
        background-color: #4A5568;
        color: white;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

        &:focus {
            outline: none;
        }
    }

    &__content {
        position: absolute;
        right: 0;
        background-color: #F5F5F5;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        padding: 10px 10px;
        animation: fadeIn 0.2s ease-out;
        margin-top: 10px;
        // top: 100%;
        // color: #e0e0e0;
        // z-index: 1000;


        display: flex;
        flex-direction: column;
        gap: 20px;

        font-family: $font-inriasans ;
    }

    &__item {
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: center;

        text-decoration: none;
        color: #2A1E17;

        .drop-down-menu-pattern1 {
            grid-column-start: 2 /3;
            justify-self: end;
        }

        background: none;
        border: none;
        box-shadow: none;
        text-align: start;
        font: inherit;
    }
}

.pofile {
    &__header {
        display: flex;
        align-items: center;
        padding: 12px 16px;
    }

    &__avatar__large {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #4A5568;
        /* Giống trigger */
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;
        margin-right: 12px;
    }

    &__info {
        strong {
            display: block;
            font-size: 1em;
            color: white;
        }

        span {
            font-size: 0.85em;
            color: #a0a0a0;
        }
    }
}

.separator {
    border: none;
    border-top: 1px solid #393c61;
    /* Màu đường kẻ */
    margin: 8px 0;
}