.learner-submenu {
  display: flex;
  justify-content: center;
  gap: 10rem;
  border-bottom: 0.2rem solid #dcdcdc;
  padding: 0rem;
}

.submenu-tab {
  font-family: "Lalezar", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;

  color: #2b1e17;
  text-decoration: none;
  padding: 0.5rem 4rem 0.5rem;
  border-radius: 8px;
  transition: background-color 0.3s;

  &.active {
    background-color: #f8eed3;
  }

  &:hover {
    background-color: #f8eed3;
  }
}
