@use '../Fonts' as *;
$background-color: white;
$font-family: $font-inriasans;
$text-color: black;

.navbar {
    width: inherit;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: 1rem;
    margin: 0;

    
    font-family: $font-family;
    color: $text-color;

    &__search {
        display: flex;
        justify-content: center;
        border: none;
        background-color: $text-color;
        border-radius: 12px;
        width: 40vw;
        padding: calc(5 / 1440 * 100vw) 0px;
        margin: 0;

        &:has(.navbar__search-input:focus) {
            border: 2px solid #52c2f2;
        }

    }

    &__search-input {
        background-color: $text-color;
        border: none;
        outline: none;
        width: 90%;
        align-items: center;
        padding: 0;
        margin: 0;
        padding-left: calc(5 / 1440 * 100vw);
    }

    &__contact {
        align-items: center;
        grid-column: 1 / 2;
        justify-self: center;
    }

    &__support {
        align-items: center;
        grid-column: 2 / 3;
        justify-self: center;
    }

    &__pricing {
        align-items: center;
        grid-column: 3 / 4;
        justify-self: center;
    }

    &__item {
        color: $text-color;
        text-decoration: none;
        font-size: 1.3em;
    }

}