@use '../Fonts' as *; 

.searchbar-container {
  display: flex;
  align-items: center;

  background-color: #f1f1f1; 
  padding: 10px 16px;
  border-radius: 9999px;

  font-family: $font-inriasans;

  width: 100%;
  min-width: 200px;
  max-width: 80%;

  gap: 20px;
}


.searchbar-input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  color: #989898;
  width: 100%;
}
