@use "../Fonts" as *;

.vocab-card {
  background-color: #f9f3e4;
  padding: 1.2rem;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  min-height: 220px;
  max-width: 300px;

  overflow: hidden;
  text-overflow: ellipsis;

  .vocab-title {
    font-family: $font-lalezar;
    font-size: 1.2rem;
    font-weight: normal;
    color: #2b2b2b;
    margin: 0;
    margin-bottom: 0.5rem;

    white-space: nowrap; // giữ nội dung trên 1 dòng duy nhất
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .vocab-desc {
    font-family: $font-inriasans;
    font-size: 0.9rem;
    color: #444;
    margin: 0;
    margin-bottom: 0.5rem;

    // Giới hạn description thành 2 dòng
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .vocab-completion-date {
    font-family: $font-inter;
    font-size: 12px;
    color: #2932b1;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
  }

  .vocab-result {
    font-family: $font-inter;
    font-size: 12px;
    color: #2932b1;
    font-weight: bold;
  }

  .vocab-next-review {
    font-family: $font-inter;
    font-size: 12px;
    color: #2932b1;
    font-weight: bold;
  }

  .vocab-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding-top: 1rem;
    font-family: $font-inriasans;

    .user-block {
      display: flex;
      align-items: center;
      min-width: 150px;
      gap: 5%;

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;

        border: none;
        border-radius: 50%;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        overflow: hidden;

        .img {
          width: 100%;
          height: 100%;
          object-fit: cover; // This ensures the image covers the area without distortion
        }

        .placeholder {
          background-color: #4a5568;
          color: white;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .user-info {
        display: flex;
        flex-direction: column;

        .username {
          font-size: 13px;
          font-weight: bold;
          color: #222;

          max-width: 100px;

          white-space: nowrap; // giữ nội dung trên 1 dòng duy nhất
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .role-tag {
          font-size: 0.7rem;
          font-weight: bold;
          background-color: #d6e5ff;
          color: #1b4da3;
          padding: 2px 6px;
          border-radius: 7px;
          margin-top: 2px;
          width: fit-content;
        }
      }
    }

    .review-btn {
      background-color: #2e2a25;
      color: #fff;
      font-size: 0.85rem;
      font-weight: bold;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 20px;
      cursor: pointer;

      &:disabled {
        background-color: #515050;
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }
}
