@use 'Fonts' as *;
@use './Admin';
@use './Auth';
@use './Classroom';
@use './Components';
@use './Review';
@use './User';
@use './Vocabulary';


* {
  padding: 0 0;
  box-sizing: border-box;
}

body {
  background: #FFFCF7;
  margin: 0 0;
}