@use '../Fonts' as *;

.join-classroom__default {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFCF7;
    height: 100vh;
    padding: 2rem;

    .join-classroom__card {
        background-color: #fff;
        padding: 2.5rem;
        border-radius: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        width: 100%;
        max-width: 420px;
        text-align: center;
        border: 1px solid #f1efec;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2.join-classroom__title {
            font-family: $font-lalezar;
            font-size: 1.5rem;
            font-weight: normal;
            color: #2c231b;
            margin-bottom: 0.5rem;
        }

        .join-classroom__message {
            font-family: $font-inriasans;
            font-size: 0.85rem;
            font-weight: 600;
            color: #2A1E17;
            margin-bottom: 1rem;
        }

        .join-classroom__code-input {
            font-family: $font-inriasans;
            font-size: 1.2rem;
            font-weight: 600;
            color: #2c231b;
            background-color: #f2f2f2;
            border: none;
            border-radius: 0.5rem;
            padding: 0.75rem 1rem;
            width: 60%;
            text-align: center;
            margin-bottom: 1.25rem;

            &:focus {
                outline: none;
                box-shadow: 0 0 0 2px #c4b9ae;
            }
        }

        .join-classroom__button {
            background-color: #2c231b;
            color: white;
            font-weight: 600;
            padding: 0.65rem 2rem;
            border-radius: 9999px;
            border: none;
            font-size: 0.95rem;
            cursor: pointer;
            transition: background-color 0.3s;

            max-width: 50%;

            &:hover {
                background-color: #1f1914;
            }

            &:active {
                background-color: #D6D6D6;
                border-radius: 9999px;
            }
        }
    }
}