@use "../Fonts" as *;

.join-classroom {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &.confetti {
    background-image: url("./assets/Classroom/join_classroom_successfully.svg");
    background-size: cover;
  }

  &.error-bg {
    background-color: #f6cfcf;
    background-image: url("./assets/Classroom/join_classroom_error.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #fff;
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 420px;
    text-align: center;
    border: 1px solid #ddd;
  }

  &__header {
    font-family: $font-lalezar;
    font-size: 1.5rem;
    font-weight: normal;
    color: #2c231b;
    margin-bottom: 0.5rem;
  }

  &__message {
    font-family: $font-inriasans;
    font-size: 15px;
    color: #2a1e17;
    margin-bottom: 1rem;
  }

  &__code {
    font-family: $font-inriasans;
    font-size: 1.2rem;
    font-weight: 600;
    color: #2c231b;
    background: #eee;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    min-width: 60%;
    max-width: 100%;
    margin-bottom: 1.25rem;

    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__button {
    font-family: $font-inriasans;
    background-color: #2b2112;
    color: #fff;
    padding: 0.65rem 2rem;
    border: none;
    border-radius: 9999px;
    font-size: 0.95rem;
    cursor: pointer;

    &:hover {
      background-color: #1e1811;
    }

    &:active {
      background-color: #d6d6d6;
      border-radius: 10px;
    }
  }
}
