@use "../Fonts" as *;

.my-classroom {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.my-classroom-container {
  margin: 2em 0;
  display: flex;

  font-family: $font-inter;
  font-weight: bold;
  color: #352d24;
}

.my-classroom-page {
  font-family: $font-inriasans;
  width: 80%;
  margin: auto;

  h1 {
    font-family: $font-lalezar;
    font-weight: lighter;
    font-size: 50px;
    margin: 0;
  }

  .my-classroom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 1.5rem;
    }

    .role-switch button {
      margin-left: 0.5rem;
      padding: 0.4rem 0.8rem;
      border: 1px solid #ccc;
      background: white;
      cursor: pointer;

      &.active {
        background-color: #222;
        color: #fff;
      }
    }
  }

  .tab {
    display: flex;

    .tab {
      margin-right: 1rem;
      padding: 0.5rem 1rem;
      background-color: #f3eacc;
      border: none;
      border-radius: 6px;

      cursor: pointer;

      &.active {
        background-color: #fff4c2;
        font-weight: bold;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    margin: 2rem 0;

    .btn {
      margin-right: 1rem;
      padding: 0.8rem 1rem;
      border: none;
      border-radius: 10px;
      cursor: pointer;

      font-family: $font-inter;
      text-decoration: none;

      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);

      &.light {
        background-color: #f1ede4;
      }

      &.dark {
        background-color: #222;
        color: #fff3df;
      }
    }

    .total {
      color: #888;
    }
  }

  .classroom-list {
    .classroom-card {
      background-color: #f9f3e4;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 8px;
      border: 1px solid #eee;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);

      .info span {
        font-size: 0.9rem;
        color: #666;
      }

      .info h3 {
        margin: 0.3rem 0 0;
      }
    }
  }

  .see-more {
    text-align: center;
    margin: 1.5rem 0;

    .see-more-btn {
      background: none;
      border: none;
      color: #555;
      cursor: pointer;
      font-size: 0.9rem;
    }
  }

  .footer {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #333;

    .logo {
      font-weight: bold;
    }

    .contact p {
      margin: 0;
    }
  }
}

.empty-list {
  font-family: $font-inriasans;
  font-size: 20px;

  background-color: #fffaef;
  height: 30vh;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.08);
}
