@use '../Fonts' as *;

.check-your-mail-container {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: $font-lalezar;

    .sign-up-successfully {
        margin-top: 3em;
        font-size: 30px;
    }

    .check-your-mail {
        font-size: 70px;
    }

    .go-to-sign-in {

        height: 3em;
        width: 12em;

        background-color: #352D24;
        font-family: $font-inriasans;
        font-size: 1.35em;

        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        color: #FFF6E3;
        border: none;

        padding: 0;
        border-radius: 50px;
    }
}