.homepage__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__body {
    display: flex;
    flex: 1;
  }

  &__main {
    margin: auto;
    flex: 1;
    background-color: #FFFCF7;

  }
}