.homepage__wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.homepage__body {
  flex: 1;
}

.sidebar {
  width: 240px;
  background-color: #f8f9fa;
}

.homepage__main {
  margin: auto;
  background-color: #FFFCF7;
  display: flex;
  flex-direction: column;
}

