@use "../Fonts" as *;
$text-color: #352d24;

.top-pattern {
  max-height: 40vh;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(2, auto);
  margin-top: 3em;
  gap: 1rem;

  img {
    width: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  .pattern1 {
    grid-column: 1 / 4;
    grid-row: 2;
  }

  .pattern2 {
    grid-column: 3 / 6;
    grid-row: 1;
  }

  .pattern3 {
    grid-column: 2 / 3;
    grid-row: 1;
    margin-right: 2em;
  }

  .pattern4 {
    grid-column: 8 / 11;
    grid-row: 1;
  }

  .pattern5 {
    grid-column: 8 / 10;
    grid-row: 2;
  }

  .pattern6 {
    grid-column: 11 / 12;
    grid-row: 2;
  }

  .pattern7 {
    grid-column: 12 / 13;
    grid-row: 1;
  }

  .pattern8 {
    grid-column: 13 / 15;
    grid-row: 2;
    margin-top: 4em;
  }
}

.main-info {
  display: flex;
  // height: 120vh;

  .content {
    width: 50vw;
    margin-left: 50px;

    h1 {
      font-family: $font-lalezar;
      font-size: 140px;
      margin: 0;
    }

    h2 {
      font-family: $font-inriasans;
      font-size: 40px;
      margin: 0;
    }

    p {
      font-family: $font-inriasans;
      font-size: 18px;
      margin: 0;
    }

    .get-started {
      margin-top: 50px;

      height: 3em;
      width: 12em;

      background-color: #352d24;
      font-family: $font-inriasans;
      font-size: 1.35em;

      display: flex;
      justify-content: center;
      align-items: center;

      text-decoration: none;
      color: #fff6e3;
      border: none;

      padding: 0;
      border-radius: 50px;
    }
  }

  .pattern-card-container {
    width: 50vw;
    height: 554px;
    padding-top: 2em;

    .pattern-card {
      width: 100%;
      height: 100%;
      position: relative;

      .pattern-card1 {
        position: absolute;
        right: 30%;
        top: 0%;
        width: 60%;
      }

      .pattern-card2 {
        position: absolute;
        right: 20%;
        top: 10%;
        width: 60%;
      }

      .pattern-card3 {
        position: absolute;
        right: 10%;
        top: 12%;
        width: 60%;
      }
    }
  }
}

.slogan {
  .group1 {
    margin-top: 3em;
    width: 100%;
  }
}

.struggling {
  text-align: center;
  font-family: $font-inriasans;
  color: $text-color;
  font-weight: bold;
  font-size: 40px;

  margin-top: 3em;
}

.--- {
  text-align: center;
  font-family: $font-inriasans;
  color: $text-color;
  font-weight: bold;
  font-size: 40px;
}

.dont-worry {
  text-align: center;
  font-family: $font-inriasans;
  color: $text-color;
  font-weight: bold;
  font-size: 30px;
}

.slogans-grid {
  max-height: 40vh;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  gap: 1rem;

  margin-top: 2em;

  .group2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
  }

  .group3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
  }

  .group4 {
    grid-column: 1 / 3;
    transform: none;
    justify-self: center;
  }
}

.there-is {
  text-align: center;
  margin-top: 3em;

  font-family: $font-inriasans;
  font-size: 33px;
}

.a-new-way-to-learn {
  display: flex;
  gap: 10px;
  justify-content: center;

  font-family: $font-inriasans;
  font-size: 50px;
  font-weight: bold;

  .way {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #dd483c;
    background-color: #fec957;
    width: 117px;
    border-radius: 11px;
  }

  .learn {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #e8f4ff;
    background-color: #458dd1;
    width: 138px;
    border-radius: 11px;
  }
}

.group5 {
  margin-top: 2em;
  width: 100%;
}

.boxes {
  margin-top: 3em;

  display: flex;
  gap: 10%;
  justify-content: center;

  &-fill-in-blank {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    gap: 10px;

    background-color: #efefef;
    border-radius: 43px;

    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    h1 {
      color: #a43939;
      font-family: $font-lalezar;
      margin: 0;
      margin-block-end: 0;
    }

    .content {
      color: #a43939;
      font-family: $font-inriasans;
      text-align: center;
      margin-top: 10px;
    }
  }

  &-flashcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    gap: 10px;

    background-color: #efefef;
    border-radius: 43px;

    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    h1 {
      color: #3c5a9a;
      font-family: $font-lalezar;
      margin: 0;
      margin-block-end: 0;
    }

    .content {
      color: #3c5a9a;
      font-family: $font-inriasans;
      text-align: center;
      margin-top: 10px;
    }
  }

  &-word-association {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    gap: 10px;

    background-color: #efefef;
    border-radius: 43px;

    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    h1 {
      text-align: center;
      color: #4d8850;
      font-family: $font-lalezar;
      font-size: 28.5px;
      margin: 0;
      margin-block-end: 0;
    }

    .content {
      color: #4d8850;
      font-family: $font-inriasans;
      text-align: center;
      margin-top: 10px;
    }

    .group8 {
      width: 50px;
    }
  }
}

.ready-to-start {
  margin: 3em 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .so-you-ready-to-start {
    font-family: $font-lalezar;
    font-size: 50px;
    text-align: center;
  }

  .get-started {
    height: 3em;
    width: 12em;

    background-color: #352d24;
    font-family: $font-inriasans;
    font-size: 1.35em;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: #fff6e3;
    border: none;

    padding: 0;
    border-radius: 50px;
  }
}

// tuy chinh giao dien
@media screen and (max-width: 927px) {
  .top-pattern {
    height: 18vh;
  }
}

@media screen and (max-width: 750px) {
  .top-pattern {
    flex-direction: column;
    height: 40vh;

    .left-pattern {
      height: 20vh;
      // width: 100vw;
    }

    .right-pattern {
      height: 20vh;
      // width: 100vw;
    }
  }

  .main-info {
    flex-direction: column-reverse;
    height: 60vh;

    .pattern-card-container {
      height: 40vh;
      width: 60vw;
    }

    .content {
      height: 20vh;
      // width: 100vw;
    }
  }
}
