@use '../Fonts' as *;

$text-color: #352D24;
.logo {
    margin: 20px;
}

.select-user-type-text {
    justify-self: center;
    font-family: $font-lalezar;
    font-size: 80px;
    color: $text-color;
}

.select-user-type-container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20%;

    .select-learner-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-family: $font-lalezar;
        font-size: 30px;
        text-decoration: none;
        color: $text-color;


        border-radius: 43px;

        padding: 100px 100px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

        h3{
            margin: 0;
        }
    }

    .select-teacher-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-family: $font-lalezar;
        font-size: 30px;
        text-decoration: none;
        color: $text-color;


        border-radius: 43px;

        padding: 100px 100px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

        h3{
            margin: 0;
        }

        .pattern{
            display: flex;
            gap: 20%;
        }
    }
}