@use "../Fonts" as *;

$text-color: #008106;

.successfully-container {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-color;

  font-family: $font-lalezar;

  .successfully {
    font-size: 70px;
  }

  .your-verification {
    font-size: 23px;
  }

  .go-to-home-page {
    height: 3em;
    width: 12em;

    background-color: $text-color;
    font-family: $font-inriasans;
    font-size: 1.35em;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: #fff6e3;
    border: none;

    padding: 0;
    border-radius: 50px;

    margin-top: 40px;
  }
}
