// @forward 'Signin' as signin-*;
// @forward 'Signup' as signup-*;
// @forward 'Successfully' as successfully-*;
// @forward 'TeacherVerification' as teacher-verification-*;
// @forward 'SelectUserType' as select-user-type-*;
// @forward 'ResetPassword' as reset-password-*;
// @forward 'HomePage' as homepage-*;
// @forward 'MainPage' as mainpage-*;
// @forward 'ForgotPassword' as forgot-password-*;
// @forward 'CheckYourMail' as check-mail-*;
// @forward 'Fail' as fail-*;
